build:
  maxIssues: 0
  excludeCorrectable: false
config:
  validation: true
style:
  MagicNumber:
    active: false
naming:
  FunctionNaming:
    ignoreAnnotated:
      - Composable
formatting:
  active: true
  android: true
  autoCorrect: true
  Indentation:
    active: false
